/* malinacss:D:/Documents/2022B/GIT/@esbuild-autoroute-template/src/routes/+page.malina.css */
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: system-ui;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.125;
}
:is(h1, h2, h3, h4, h5, h6) > * {
  display: block;
  margin-top: .125em;
  font-size: .5em;
}
